{{#if errors}}
{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
  <strong>{{this.message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}
{{/if}}

{{#if success_messages}}
<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
  <strong>{{success_messages}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if warning_messages}}
<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
  <strong>{{warning_messages}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}