<nav class="navbar bg-light">
  <div class="container-fluid">
    <p class="navbar-brand">You are here to record new Expense.</p>
  </div>
</nav>

<div class="container">
  <form action="/records" method="POST">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto">

        <div class="mb-3">
          <i class="fas fa-star fa-xs"></i>
          <label for="name">Expense Name</label>
          <input class="form-control" type="text" name="name" placeholder="消費名稱" required>
        </div>

        <div class="mb-3">
          <span class="text-secondary"><i class="fa fa-music"></i>
            Date
          </span>
          <input class="form-control" type="date" name="date" id="date" value="{{date}}">
        </div>

        <div class="mb-3">
          <span class="text-secondary"><i class="fas fa-solid fa-book-open"></i>
            Category
          </span>
          <select class="form-select mb-3" aria-label=".form-select-lg example" name="categoryId">
            <option selected>請選擇類別</option>
            {{#each categories}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="mb-3">
          <span class="text-secondary"><i class="fas fa-solid fa-dollar-sign"></i>
            Price
          </span>
          <input class="form-control" type="number" name="amount" placeholder="花了多少錢" required>
        </div>

        <div>
          <button class="btn btn-primary" type="submit">Create</button>
          <a class="btn btn-success" href="/">Back</a>
        </div>
      </div>
    </div>
  </form>
</div>